*{font-size:1em;padding:0;margin:0;border:0;outline:0;white-space:pre;font-family:inherit;font-size:inherit;background:inherit;color:inherit}
html{font-family:monospace}
table{border-collapse:collapse;empty-cells:show}
table td{vertical-align:top}
table th{vertical-align:bottom}
ul{list-style:none inside}
ol{list-style-position:inside}
a,a:visited{text-decoration:none;color:#00a;transition:all .3s ease-in-out}
a:focus,a:hover,a:active{color:red;text-shadow:0 0 1em rgba(0,0,0,.7)}

html{padding:3em}
textarea{border:1px dotted blue}
textarea.big{width:40em;height:20em}
input[type="button"]{border:1px dotted gray;padding:.5em;font-weight:bold}
input[type="button"]:focus{border:1px solid}