*{padding:0;margin:0;border:0;outline:0;font-family:inherit;font-size:inherit;background:inherit;color:inherit;line-height:1.5rem;transition:all .3s ease-in-out}
html{font-family:monospace}
table{border-collapse:collapse;empty-cells:show}
ul{list-style:none inside}
ol{list-style-position:inside}
a,a:visited{text-decoration:none;color:#00a}
a:focus,a:hover,a:active{color:green;text-shadow:0 0 1rem rgba(0,0,0,.7)}
em{font-weight:bold}
input,select,textarea{padding:.5rem;border:1px dotted green;border-radius:.3rem}
input:focus,select:focus,textarea:focus{background-color:#ffd}
input[type="checkbox"]:focus{background-color:#ffd;outline:1px dotted green}
